
h1 {
    color: #FDD90B;
    font-family: "bubbleboddy" ;
    padding-left: 20%;
    margin-right: 50%;
    margin-top: 5%;
}

p {
    padding-right: 20%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Comfortaa" ;
    color: #151217;
}