/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@font-face{
    font-family: "bubbleboddy";
    src: url('./assets/fonts/bubbleboddyneue-regular-trial.woff');
    src: url('./assets/fonts/bubbleboddyneue-regular-trial.ttf') format('truetype');
}

@font-face{
    font-family: "Comfortaa";
    src: url('./assets/fonts/Comfortaa-Regular.woff');
    src: url('./assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}